body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

@media screen and (min-width: 900px) {
  .btn {
    margin: 25px;
    display: inline-block;
    height: 14rem;
    width: 14rem;
    border: 10px solid black;
    border-radius: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .btn {
    margin: 5px;
    display: inline-block;
    height: 13rem;
    width: 13rem;
    border: 10px solid black;
    border-radius: 20%;
  }
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.invbutton{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color:grey;
  color:bisque;
  box-shadow: 2px 2px black;
}
